#####################################################################
#   LED Control
#####################################################################

#Chamber lights
[output_pin Case_LED]
pin: PB10
pwm: True
shutdown_value: 0
value: 0.2
cycle_time: 0.01

[gcode_macro LEDs_Off]
gcode:
        SET_PIN PIN=Case_LED VALUE=0

[gcode_macro LEDs_Low]
gcode:
        SET_PIN PIN=Case_LED VALUE=0.2

[gcode_macro LEDs_High]
gcode:
        SET_PIN PIN=Case_LED VALUE=0.8

[neopixel db_leds]
pin: PB0
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 2
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRBW
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0